data/infernal_blast/*txt
*allele_mapping_data.json
*allele_mapping_data.txt
*artifacts_mapping_stats.txt
*.chkpnt
*overall_mapping_stats.txt
*reference_mapping_stats.txt
*.sorted.length_100.bam
*.sorted.length_100.bam.bai
*rdata*
data/infernal
*kaiju*
*input*
*_chkpnt
cds
faa
*~*
*__pycache__*
.Rproj.user
.DS_Store
bin
db
*cmscan.gz
*out
*cmscan.gz
*aligned_reads*
*assembly*
*filtered_reads*
*protein*
*raw_read*
*.json.gz
*error.txt
*screen_output.txt