
*rdata*
data/infernal
*kaiju*
*input*
*_chkpnt
cds
faa
*~*
*__pycache__*
.Rproj.user
.DS_Store
bin
db
*cmscan.gz
*out
*cmscan.gz
*aligned_reads*
*assembly*
*filtered_reads*
*protein*
*raw_read*
*.json.gz
